<footer class="site-footer">
  <div class="container-xl">
    <ul class="footer-nav">
      <li><a href="{{ '/' | relative_url }}">トップ</a></li>
      <li><a href="#">研究室紹介</a></li>
      <li><a href="{{ '/misako.html' | relative_url }}">高安 美佐子</a></li>
      <li><a href="{{ '/hideki.html' | relative_url }}">高安 秀樹</a></li>
      <li><a href="#">研究内容</a></li>
      <li><a href="{{ '/result.html' | relative_url }}">業績</a></li>
      <li><a href="{{ '/books.html' | relative_url }}">著書</a></li>
      <li><a href="{{ '/access.html' | relative_url }}">アクセス</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
    <p class="footer-lab-name">研究室名スペース</p>
  </div>
</footer>
